version: '3'

services:
  openai-slack-bot:
    image: ghcr.io/jack482653/openai-slack-bot:latest
    restart: always
    logging:
      driver: "json-file"
      options:
        max-size: "5g"
    environment:
    - OPENAI_API_KEY=${OPENAI_API_KEY}
    - SLACK_BOT_TOKEN=${SLACK_BOT_TOKEN}
    - SLACK_SIGNING_SECRET=${SLACK_SIGNING_SECRET}
    - SLACK_APP_TOKEN=${SLACK_APP_TOKEN}
    - SLACK_APP_MENTION_QUOTE_USER_MESSAGE=${SLACK_APP_MENTION_QUOTE_USER_MESSAGE}
    - OPENAI_CHAT_ENABLE_SUMMARIZE=${OPENAI_CHAT_ENABLE_SUMMARIZE}
    - OPENAI_CHAT_NUM_OF_MESSAGES=${OPENAI_CHAT_NUM_OF_MESSAGES}
    - OPENAI_CHAT_TTL=${OPENAI_CHAT_TTL}
    - OPENAI_CHAT_SYSTEM_MESSAGE=${OPENAI_CHAT_SYSTEM_MESSAGE}
    - LOG_LEVEL=${LOG_LEVEL}
